/*
	font-family: 'Futura W03', sans-serif; - 600,900
	font-family: 'Adobe Caslon W01', serif; - 400,700
	type scale (1.414): 16, 23, 32, 45, 64
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0 !important;
}

html,
button,
input,
select,
textarea {
	background: #fff;
	color: #5f6c75;
	font-family: 'Adobe Caslon W01', serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
}

button,
input,
select,
textarea {
	font-size: 1em;
}

body {
	margin: 0 auto;
	max-width: 120em;
	position: relative;
}

a {
	color: #0053a0;
	text-decoration: none;
}

a:link {
	color: #0053a0;
}

a:visited {
	color: #0053a0;
}

a:hover {
	color: #ed9d32;
}

a:active {
	color: #0053a0;
}

::-moz-selection {
	background: #0053a0;
	color: #fff;
	text-shadow: none !important;
}

::selection {
	background: #0053a0;
	color: #fff;
	text-shadow: none !important;
}

input,
button,
select,
textarea {
	background-color: #fff;
	border-radius: 0;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input.text,
textarea {
	-webkit-appearance: none;
	border: 1px solid #d5d9dc;
	padding: 0.5em;
}

select {
	border: 1px solid #d5d9dc;
	padding: 0.5em;
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input.text:focus,
textarea:focus,
select:focus {
	border-color: #0053a0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #d5d9dc;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #d5d9dc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #d5d9dc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #d5d9dc;
}

label {
	color: #0053a0;
}

a.btn,
input.btn,
div.btn,
input[type="submit"],
button {
	-webkit-appearance: none;
	background-color: none;
	border: 3px solid #0053a0;
	color: #0053a0;
	cursor: pointer;
	display: inline-block;
	font-family: 'Futura W03', sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 0.75em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}

a.btn:hover,
input.btn:hover,
div.btn:hover,
input[type="submit"]:hover,
button:hover {
	background-color: #0053a0;
	color: #fff;
	text-decoration: none;
}

input.btn:focus,
input[type="submit"]:focus,
button:focus {
	background-color: #0053a0;
	color: #fff;
}

a.btn.disabled,
input.btn.disabled,
div.btn.disabled,
input[type="submit"].disabled,
button.disabled {
	background-color: #e9ebed;
	color: #5f6c75;
	cursor: default;
}

textarea {
	resize: vertical;
}

b,
strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0053a0;
	font-family: 'Futura W03', sans-serif;
	font-weight: 500;
	line-height: 1.4;
	margin: 0.5em 0;
}

h1,
h2 {
	line-height: 1.2;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.25em;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin: 32px 0 0.5em 0;
}

img, object, embed {
	height: auto !important;
	max-width: 100%;
}

.video-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 41.65%; /* 56.25% for 1920x1080, 41.65% for 1920x800 */
	position: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */
.content {
	padding-left: 4em;
	padding-right: 4em;
}

.copyright {
	color: #aaafb3;
	font-family: 'Futura W03', sans-serif;
	font-weight: 600;
	font-size: 0.8125em;
	letter-spacing: 0.1em;
	margin: 3em 0 0 0;
	text-transform: uppercase;
}

.footer-locations ul {
	font-family: 'Futura W03', sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	list-style: none;
	margin: 2em 0 0 0;
	padding: 0;
	text-transform: uppercase;
}

.footer-locations li {
	display: inline-block;
	margin: 0 1em;
	vertical-align: top;
}

.footer-locations a {
	color: #aaafb3;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}

.footer-locations a:hover {
	color: #0053a0;
}

.footer-logo {
	margin-top: 3em;
	max-width: 15em;
	vertical-align: middle;
}

.footer-nav ul {
	font-family: 'Futura W03', sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	list-style: none;
	margin: 3em 0 0 0;
	padding: 0;
	text-transform: uppercase;
}

.footer-nav li {
	display: inline-block;
	margin: 0 1em;
	vertical-align: top;
}

.footer-nav a {
	color: #5f6c75;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}

.footer-nav a:hover {
	color: #0053a0;
}

.hero {
	overflow: hidden;
	position: relative;
}

.hero img {
	display: block;
}

.hero .overlay {
	left: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}

.hero h1 {
	color: #fff;
	letter-spacing: 0.05em;
	margin: 0;
	text-transform: uppercase;
}

.homepage-callouts a {
	color: #5f6c75;
	display: block;
	font-size: 1.125em;
	float: left;
	padding: 4em 4em 4em 12em;
	position: relative;
	-moz-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
	width: 33.33333333333333%;
}

.homepage-callouts a:hover {
	background: #ed9d32;
	color: #fff;
}

.homepage-callouts svg {
	display: block;
	fill: #5f6c75;
	height: 5em;
	left: 4em;
	position: absolute;
	top: 4em;
	-moz-transition: fill 150ms ease-out;
	-o-transition: fill 150ms ease-out;
	-webkit-transition: fill 150ms ease-out;
	transition: fill 150ms ease-out;
	width: 5em;
}

.homepage-callouts a:hover svg {
	fill: #fff;
}

.homepage-callouts h3 {
	font-size: 1.25em;
	font-weight: 900;
	letter-spacing: 0.05em;
	margin: 0;
	text-transform: uppercase;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}

.homepage-callouts a:hover h3 {
	color: #fff;
}

.homepage-callouts p {
	margin: 0.5em 0 0 0;
}

.homepage-video img {
	display: block;
}

.homepage-video .title-screen {
	cursor: pointer;
	position: relative;
}

.homepage-video .overlay {
	left: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	-moz-transform: translateY(-56%);
	-ms-transform: translateY(-56%);
	-o-transform: translateY(-56%);
	-webkit-transform: translateY(-56%);
	transform: translateY(-56%);
	width: 100%;
}

.homepage-video svg {
	fill: #fff;
	height: 4em;
	width: 4em;
}

.homepage-video h3 {
	color: #fff;
	font-size: 4em;
	letter-spacing: 0.05em;
	line-height: 1.2;
	margin: 0.25em 0;
	text-transform: uppercase;
}

.homepage-video .play {
	color: #fff;
	font-family: 'Futura W03', sans-serif;
	font-size: 1.75em;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.homepage-video .title-screen:hover .play {
	color: #ed9d32;
}

.homepage-video .video-container {
	display: none;
}

.homepage-video object,
.homepage-video embed {
	display: block;
}

.phone-contact {
	background: #eff0f2;
	font-family: 'Futura W03', sans-serif;
	font-weight: 900;
	letter-spacing: 0.05em;
	padding: 4em 0;
	text-transform: uppercase;
	text-align: center;
}

.phone-contact .phone {
	display: inline-block;
	margin: 1em 0;
	max-width: 18%;
	padding: 0 3em;
	position: relative;
	text-align: left;
	vertical-align: top;
}

.phone-contact .phone a {
	color: #ed9d32;
}

.phone-contact svg {
	display: block;
	fill: #5f6c75;
	height: 1.75em;
	left: 0;
	position: absolute;
	top: 0.5em;
	width: 1.75em;
}

.phone-contact h4 {
	font-size: 1.125em;
	font-weight: 900;
	line-height: 1.3;
	margin: 0;
}

.phone-contact .number {
	font-size: 0.875em;
}

a.site-credit {
	color: #aaafb3;
	display: inline-block;
	font-family: 'Futura W03', sans-serif;
	font-size: 0.8125em;
	font-weight: 600;
	letter-spacing: 0.1em;
	margin-top: 1em;
	position: relative;
	text-transform: uppercase;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}

a.site-credit:hover {
	color: #de0d12;
}

a.site-credit svg {
	fill: #de0d12;
	height: 14px;
	left: 100%;
	margin-left: 0.5em;
	position: absolute;
	top: 0;
	width: 33px;
}

.site-footer {
	background: #e9ebed;
	padding: 5em 0;
	text-align: center;
}

.site-header {
	padding: 1em 0;
	position: relative;
	z-index: 10;
}

.site-header .phone {
	font-family: 'Futura W03', sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	padding: 0.5em 0;
	position: absolute;
	right: 7.5em;
	top: 2.125em;
}

.site-logo {
	display: inline-block;
	vertical-align: middle;
}

.site-logo img {
	display: block;
	margin: 0 auto;
}

.site-nav {
	font-family: 'Futura W03', sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	position: absolute;
	right: 16em;
	text-align: right;
	top: 2.125em;
}

.site-nav .nav-icon,
.site-nav .subnav-icon {
	display: none;
}

.site-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-nav .main-nav {
	position: relative;
	z-index: 3;
}

.site-nav .main-nav > li {
	display: inline-block;
	position: relative;
	text-align: left;
}

.site-nav .main-nav > li > a {
	color: #0053a0;
	display: block;
	letter-spacing: 0.05em;
	padding: 0.5em 1.25em;
	text-transform: uppercase;
}

.site-nav .main-nav > li:hover > a {
	background: #0053a0;
	color: #fff;
}

.site-nav .menu {
	background: #0053a0;
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 1em 0;
	position: absolute;
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-moz-transition: all 0;
	-o-transition: all 0;
	-webkit-transition: all 0;
	transition: all 0;
	-moz-transition-delay: 0;
	-o-transition-delay: 0;
	-webkit-transition-delay: 0;
	transition-delay: 0;
	width: 16em;
	z-index: 1;
}

.site-nav .menu li {
	padding: 0.25em 1.25em;
}

.site-nav .menu a {
	color: #fff;
	display: block;
	font-family: 'Adobe Caslon W01', serif;
	font-weight: 400;
}

.site-nav .menu a:hover {
	color: #ffc863;
}

.site-nav .main-nav > li:hover > .menu {
	height: auto;
	opacity: 1;
	padding: 1em 0;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-webkit-transition-delay: 300ms;
	transition-delay: 300ms;
}

.site-search {
	display: block;
	font-size: 1.125em;
	padding: 0.75em 0.75em;
	position: absolute;
	right: 3.5em;
	top: 2.125em;
}

.site-search:hover {
	background: #0053a0;
}

.site-search svg {
	display: block;
	fill: #5f6c75;
	height: 1em;
	width: 1em;
}

.site-search:hover svg {
	fill: #fff;
}

.social-media a {
	display: inline-block;
	margin: 0 1em;
	padding: 1em;
	-moz-transition: background 150ms ease-out;
	-o-transition: background 150ms ease-out;
	-webkit-transition: background 150ms ease-out;
	transition: background 150ms ease-out;
	vertical-align: middle;
}

.social-media a:hover {
	background: #0053a0;
}

.social-media svg {
	display: block;
	fill: #5f6c75;
	height: 3.5em;
	-moz-transition: fill 150ms ease-out;
	-o-transition: fill 150ms ease-out;
	-webkit-transition: fill 150ms ease-out;
	transition: fill 150ms ease-out;
	width: 3.5em;
}

.social-media a:hover svg {
	fill: #fff;
}

.training a {
	display: block;
	float: left;
	min-height: 25em;
	padding: 5% 8em 0 8em;
	position: relative;
	text-align: center;
	-moz-transition: background 150ms ease-out;
	-o-transition: background 150ms ease-out;
	-webkit-transition: background 150ms ease-out;
	transition: background 150ms ease-out;
	width: 50%;
}

.training a:hover {
	background: #ffac2a;
}

.training a:after {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	content: '\0020';
	height: 100%;
	left: 0;
	opacity: .1;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.training .overlay {
	position: relative;
	z-index: 2;
}

.training .online-training:after {
	background-image: url('/images/online-training.jpg');
}

.training .individual-training:after {
	background-image: url('/images/individual-training.jpg');
}

.training .career-training:after {
	background-image: url('/images/career-training.jpg');
}

.training .weekend-ground-schools:after {
	background-image: url('/images/weekend-ground-schools.jpg');
}

.training svg {
	display: none;
	fill: #0053a0;
	height: 45px;
	margin: 0 auto;
	width: 60px;
}

.training h2 {
	margin: 0;
	text-transform: uppercase;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}

.training a:hover h2 {
	color: #fff;
}

.training p {
	color: #5f6c75;
	font-size: 1.25em;
	-moz-transition: color 150ms ease-out;
	-o-transition: color 150ms ease-out;
	-webkit-transition: color 150ms ease-out;
	transition: color 150ms ease-out;
}

.training a:hover p {
	color: #fff;
}

.training .btn {
	border: 3px solid #0053a0;
	display: inline-block;
	font-family: 'Futura W03', sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 0.75em 1.5em;
	text-transform: uppercase;
	-moz-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
	vertical-align: middle;
}

.training a:hover .btn {
	background: #0053a0;
	color: #fff;
}


/* ==========================================================================
   SVG Fallback
   ========================================================================== */

.no-svg svg {
	display: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1550px) {
	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2.125em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.125em;
	}

	.homepage-callouts a {
		padding: 3em 3em 4em 3em;
		text-align: center;
	}

	.homepage-callouts svg {
		margin: 0 auto 1em auto;
		position: static;
	}

	.homepage-video h3 {
		font-size: 3.5em;
	}

	.homepage-video .play {
		font-size: 1.5em;
	}

	.phone-contact h4 {
		font-size: 1em;
	}

	.site-header .phone {
		font-size: 1em;
		top: 2.75em;
	}

	.site-nav {
		font-size: 1em;
		top: 2.75em;
	}

	.site-search {
		font-size: 1em;
		top: 2.75em;
	}

	.training a {
		padding: 8% 4em 0 4em;
	}

	.training p {
		font-size: 1em;
	}
}

@media only screen and (max-width: 1400px) {
	.phone-contact .phone {
		float: left;
		max-width: none;
		width: 33.33333333333333%;
	}

	.site-header {
		text-align: center;
	}

	.site-header .phone {
		display: inline-block;
		margin: 0 1.5em;
		position: static;
		vertical-align: middle;
	}

	.site-logo {
		display: block;
		margin-bottom: 1em;
	}

	.site-nav {
		display: inline-block;
		position: static;
		text-align: center;
		vertical-align: middle;
	}

	.site-search {
		display: inline-block;
		position: static;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 1150px) {
	.hero img {
		margin-left: -25%;
		max-width: none;
		width: 150%;
	}

	.homepage-callouts a {
		font-size: 1em;
		padding: 3em 2em 4em 2em;
	}

	.homepage-video h3 {
		font-size: 2.125em;
	}

	.homepage-video .play {
		font-size: 1.25em;
	}

	.site-header .phone {
		left: 4em;
		margin: 0;
		position: absolute;
		right: auto;
	}

	.site-nav {
		border-top: 1px solid #e9ebed;
		display: block;
		padding-top: 1em;
	}

	.site-search {
		position: absolute;
		right: 4em;
	}

	.social-media a {
		padding: 0.75em;
		margin: 0 0.5em;
	}

	.social-media svg {
		height: 2em;
		width: 2em;
	}
}

@media only screen and (max-width: 950px) {
	.content {
		padding-left: 2em;
		padding-right: 2em;
	}

	.homepage-callouts a {
		float: none;
		padding: 2em 2em 3em 2em;
		width: auto;
	}

	.phone-contact .phone {
		width: 50%;
	}

	.site-header {
		text-align: left;
	}

	.site-header .phone {
		left: auto;
		line-height: 1;
		right: 9.5em;
	}

	.site-logo {
		display: inline-block;
		margin-bottom: 0;
	}

	.site-nav {
		border-top: none;
		display: block;
		padding-top: 0;
	}

	.site-nav .main-nav {
		background: #0053a0;
		height: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 100%;
		-moz-transition: opacity 200ms ease-out;
		-o-transition: opacity 200ms ease-out;
		-webkit-transition: opacity 200ms ease-out;
		transition: opacity 200ms ease-out;
		width: 100%;
	}

	.site-nav .main-nav.active {
		height: auto;
		opacity: 1;
		padding: 1em 0;
	}

	.site-nav .main-nav > li {
		display: block;
	}

	.site-nav .main-nav > li > a {
		color: #fff;
		padding: 0.75em 3em 0.75em 2em;
	}

	.site-nav .main-nav > li > a:hover {
		color: #ffc863;
	}

	.site-nav .menu {
		background: none;
		box-shadow: none;
		display: none;
		height: auto;
		opacity: 1;
		overflow: visible;
		padding: 0;
		position: static;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
		-moz-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;
		-moz-transition-delay: 0;
		-o-transition-delay: 0;
		-webkit-transition-delay: 0;
		transition-delay: 0;
		width: auto;
	}

	.site-nav .main-nav > li:hover .menu {
		padding: 0;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
	}

	.site-nav .menu li {
		padding: 0.25em 3em;
	}

	.site-nav .nav-icon {
		color: #fff;
		cursor: pointer;
		display: block;
		line-height: 1;
		padding: 1em 0;
		position: absolute;
		right: 2em;
		text-transform: uppercase;
		top: 2.25em;
		-moz-transition: background 200ms ease-out;
		-o-transition: background 200ms ease-out;
		-webkit-transition: background 200ms ease-out;
		transition: background 200ms ease-out;
		width: 3em;
		z-index: 3;
	}

	.site-nav .nav-icon .icon {
		background: #0053a0;
		display: block;
		height: 2px;
		margin-top: -1px;
		position: absolute;
		left: 15px;
		top: 50%;
		-webkit-transition: background 200ms ease-out;
		-moz-transition: background 200ms ease-out;
		-o-transition: background 200ms ease-out;
		transition: background 200ms ease-out;
		width: 17px;
	}

	.site-nav .nav-icon .icon:before {
		background: #0053a0;
		content: "\0020";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		-moz-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		-moz-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
		width: 17px;
	}

	.site-nav .nav-icon .icon:after {
		background: #0053a0;
		content: "\0020";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
		-moz-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
		width: 17px;
	}

	.site-nav .nav-icon.active {
		background: #0053a0;
	}

	.site-nav .nav-icon.active .icon {
		background: transparent;
	}

	.site-nav .nav-icon.active .icon:before {
		background: #fff;
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.site-nav .nav-icon.active .icon:after {
		background: #fff;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.site-nav .subnav-icon {
		cursor: pointer;
		display: block;
		padding: 0.75em 0;
		position: absolute;
		right: 0;
		top: 0;
		-moz-transition: background 200ms ease-out;
		-o-transition: background 200ms ease-out;
		-webkit-transition: background 200ms ease-out;
		transition: background 200ms ease-out;
		width: 3em;
		z-index: 1;
	}

	.site-nav .subnav-icon:before {
		background: #fff;
		content: "\0020";
		display: block;
		height: 2px;
		left: 16px;
		position: absolute;
		top: 23px;
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-moz-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
		width: 10px;
	}

	.site-nav .subnav-icon.active:before {
		background: #ffc863;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.site-nav .subnav-icon:after {
		background: #fff;
		content: "\0020";
		display: block;
		height: 2px;
		left: 22px;
		position: absolute;
		top: 23px;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-moz-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		transition: all 200ms ease-out;
		width: 10px;
	}

	.site-nav .subnav-icon.active:after {
		background: #ffc863;
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.site-search {
		padding: 1em;
		top: 2.25em;
		right: 5.5em;
	}

	.site-search svg {
		fill: #0053a0;
	}

	.training a {
		float: none;
		min-height: 0;
		padding: 4em 2em;
		width: auto;
	}
}

@media only screen and (max-width: 650px) {
	h1 {
		font-size: 2.25em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	.copyright {
		margin-top: 2em;
	}

	.footer-locations ul {
		margin-top: 0;
	}

	.footer-locations li {
		display: block;
		margin: 0;
		padding: 0.25em 0;
	}

	.footer-logo {
		display: none;
	}

	.footer-nav ul {
		margin-top: 2em;
	}

	.footer-nav li {
		display: block;
		margin: 0;
		padding: 0.25em 0;	
	}

	.hero img {
		margin-left: -50%;
		width: 200%;
	}

	.homepage-callouts a {
		padding: 3em 2em;
	}

	.homepage-callouts svg {
		height: 3em;
		width: 3em;
	}

	.homepage-video svg {
		height: 3em;
		width: 3em;
	}

	.homepage-video h3 {
		font-size: 1.75em;
	}

	.homepage-video .play {
		font-size: 1em;
	}

	.phone-contact {
		padding: 3em 0;
	}

	.phone-contact .phone {
		display: block;
		float: none;
		margin: 1.5em 0;
		width: auto;
	}

	.site-footer {
		padding: 4em 0;
	}

	.site-header .phone {
		display: none;
	}

	.site-logo {
		max-width: 50%;
	}

	.site-nav .nav-icon {
		right: 1em;
		top: 50%;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.site-search {
		right: 4em;
		top: 50%;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

@media only screen and (max-width: 450px) {
	h1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.125em;
	}

	.homepage-video .overlay {
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.homepage-video svg {
		display: none;
	}

	.homepage-video h3 {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 951px) {
	/*.site-nav .main-nav,
	.site-nav .menu {
		display: block !important;
	}*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	/*     a[href]:after {
        content: " (" attr(href) ")";
		}

    abbr[title]:after {
        content: " (" attr(title) ")";
		} */

	/*
     * Don't show links for images, or javascript/internal links
     */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 1cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
